<configuration>
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="TelerikOnlineFeed" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<TelerikOnlineFeed>
			<add key="Username" value="don@codinginnovations.com" />
			<add key="ClearTextPassword" value="4TelerikControls#" />
		</TelerikOnlineFeed>
	</packageSourceCredentials>
</configuration>